.nav-item.active a{
    font-weight: bold;
}

nav{
    height: 80px;
    ul{
        li{
            padding: 20px;
        }
        li.active{
            border-bottom: 5px solid grey;
        }
    }
}